{{#partial "content"}}
<section>
    <div class="container">
        <div class="password">
            <form action="/password" method="post">
                <label for="password">Enter Password</label>
                <input type="password" name="password"><br>
                <input type="submit" value="Submit" class="button">
                <a href="#" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{{/partial}}
{{#partial "footer"}}
<footer>
    <div>
        <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <a href="#">Terms</a>
    </div>
</footer>
</body>
</html>
{{/partial}}

{{> base.hbs}}